<div class="jumbotron">
    <h1 class="display-4 text-center">
        <img src="static/images/pokeball.png" alt="logo" style="width: 6%;"/>
        Pokemons Hello PlusTI
    </h1>
</div>

<div class="card-deck">
{{#each data.recordset}}
<div class="col-sm-4">
    <div class="card text-center shadow border-secondary" style="width: 18rem;">
        {{#if this.URL}}
            <img class="card-img-top" src="{{this.URL}}" alt="{{this.URL}}">
        {{else}}
            <a href="https://pokemondb.net/pokedex/{{lowercase this.Name}}"></a><img class="card-img-top" src="https://img.pokemondb.net/sprites/x-y/normal/{{downcase this.Name}}.png" alt="{{this.Name}}"></a>
        {{/if}}

    <div class="card-body">
        <h5 class="card-title">{{this.Name}}</h5>
        <p class="card-text">Thanks for following the dockerization of this pokemons </p>
        <a href="https://pokemondb.net/pokedex/{{lowercase this.Name}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">{{this.ID}}</a>
    </div>
    </div>
    <br>
</div>
{{/each}}
</div>

