<div class="jumbotron">
    <h1 class="display-4 text-center">
        <img src="static/images/heart.png" alt="logo" style="width: 8%;"/>
        DB Status
    </h1>
</div>

<h2 class="text-center">
    Latest Version: {{latest}}
</h2>

<br>
<br>
<table class="table table-info">
 <thead class="thead-dark">
    {{#each data.recordset.[0]}}
    <th>{{@key}}</th><!--property name here-->
    {{/each}}
  </thead>

  <tbody>
    {{#each data.recordset}}
    <tr>
      {{#iterate this}}
        <td>{{this}}</td>
      {{/iterate}}
    </tr>
    {{/each}}

  </tbody>
</table>